<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Profile </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div
    class="w-full h-[7vh] bg-[#292673] flex justify-center items-center relative"
  >
    <ion-icon
      name="person-circle"
      class="text-6xl text-[#292673] absolute bottom-[-27px] bg-white rounded-full"
    ></ion-icon>
  </div>
  <div
    class="w-full bg-[#a8a7ca42] flex flex-col justify-center items-center pt-10 py-5"
  >
    <p class="font-bold tracking-wider">{{loanInfo.customerName}}</p>
    <p
      class="text-[10px] bg-[#a8a7caef] tracking-wider px-2 py-1 rounded-full text-white"
    >
      Loan ID: <span>{{loanInfo.loanId}}</span>
    </p>
  </div>

  <div class="pr-5">
    <ion-item>
      <ion-label>
        <p class="!text-[12px]">Release Date</p>
        <h1 class="!text-[15px] !font-bold">{{loanInfo.releaseDate | date}}</h1>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <p class="!text-[12px]">Loan Scheme</p>
        <h1 class="!text-[12px] !text-black !font-bold">{{loanInfo.loanScheme}}</h1>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <p class="!text-[12px]">Colour</p>
        <h1 class="!text-[15px] !font-bold">{{loanInfo.colour}}</h1>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <p class="!text-[12px]">Customer</p>
        <h1 class="!text-[15px] !font-bold">{{loanInfo.customer}}</h1>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <p class="!text-[12px]">Frame</p>
        <h1 class="!text-[15px] !font-bold">{{loanInfo.frame}}</h1>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <p class="!text-[12px]">Engine No</p>
        <h1 class="!text-[15px] !font-bold">{{loanInfo.engineNo}}</h1>
      </ion-label>
    </ion-item>
  </div>

  <ion-card class="!rounded-[0]">
    <ion-card-header class="text-center" color="primary">
      <ion-card-subtitle>Loan Amount</ion-card-subtitle>
      <ion-card-title class="text-xl tracking-wider font-bold"
        >{{loanInfo.loanAmount | currency:'PHP'}}</ion-card-title
      >
    </ion-card-header>
    <hr />
    <ion-card-content>
      <ion-list>
        <ion-item lines="none">
          <ion-label slot="start">
            <p class="!text-[14px]">Terms</p>
            <h1 class="!text-[16px] !font-bold">{{loanInfo.terms}}</h1>
          </ion-label>
          <ion-label slot="end" class="text-right">
            <p class="!text-[12px]">Interest Rate</p>
            <h1 class="!text-[15px] !font-bold">{{loanInfo.interestRate}}%</h1>
          </ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-label slot="start">
            <p class="!text-[14px]">Installment</p>
            <h1 class="!text-[16px] !font-bold">
              {{loanInfo.installment | currency: 'PHP'}}
            </h1>
          </ion-label>
          <ion-label slot="end" class="text-right"
            ><p class="!text-[14px]">Penalty</p>
            <h1 class="!text-[16px] !font-bold">
              {{loanInfo.penalty | currency: 'PHP'}}
            </h1></ion-label
          >
        </ion-item>

        <ion-item lines="none">
          <ion-label slot="start"
            ><p class="!text-[14px]">Rebate</p>
            <h1 class="!text-[16px] !font-bold">
              {{loanInfo.rebate | currency: 'PHP'}}
            </h1></ion-label
          >
          <ion-label slot="end" class="text-right"
            ><p class="!text-[14px]">Amount To Pay</p>
            <h1 class="!text-[16px] !font-bold">
              {{loanInfo.amountToPay | currency: 'PHP'}}
            </h1></ion-label
          >
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <div class="flex w-full items-center justify-center my-5">
    <ion-thumbnail class="w-[150px]">
      <img src="../../assets/super-bikes-center-logo.jpg" />
    </ion-thumbnail>
  </div>
</ion-content>
